.icon {
  display: flex;
  position: relative;
  width: 30px;
  position: fixed;
  top: 0;
  overflow: auto;
  font-size: 30px;
  padding: 1.5625em;
  right: 0;
}
.dropdown button {
  height: 3.125em;
  border-style: none;
  cursor: pointer;
  background-color: #ffffff;
}
.dropdown-ul {
  list-style-type: none;
}
.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  padding: 1.25em;
}
.item-container {
  width: 320px;
  float: right;
}
.Logo {
  display: flex;
  justify-content: space-between;
  padding: 1.875em;
}
.dropdown-content {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  width: 320px;
}
.dropdown-ul {
  padding: 0.625em;
}
.dropdown-li {
  padding: 0.625em;
  margin-left: -0.5em;
}
.go-to {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:  0.5em  1.5em;

  width:  23.4375em;
  height:  8.125em;

  background: #004070;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
h5 {
  color: #ffffff;
}
h4 {
  display: flex;
}
.goto-button {
  border-style: none;
  background-color: #004070;
  color: #ffffff;
}
.back-button {
  border-style: none;
  background-color: #ffffff;
}
.product-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:  2em;
  gap: 1.25em;

  max-width: 20em;
  height:  23.4375em;

  background: #004070;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.product-name {
  width: 19.4375em;
  height: 1.375em;
  margin-bottom: -2.5em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 140%;

  font-feature-settings: 'ss01' on;

  color: #ffffff;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.product-subtitle {
  width: 300px;
  height: 3em;
  margin-bottom: -1.5625em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 120%;

  font-feature-settings: 'ss01' on;

  color: #ffffff;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.product-paragraph {
  width: 19.4375em;
  height: 2.75em;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 140%;

  font-feature-settings: 'ss01' on;

  color: #ffffff;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.product-button {
  box-sizing: border-box;
  background-color: #004070;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  gap: 0.625em;

  width:  9.375em;
  height: 3.375em;

  border: 2px solid #ffffff;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.product-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap:0.5em;
  width: 9em;
  height: 2.1875em;
  flex: none;
  order: 4;
  flex-grow: 0;

  background-color: #004070;
  color: #ffffff;
  border-style: none;
}
.public-buttons {
  display: flex;
  justify-content: space-between;
}
.public-list {
  list-style-type: none;
}
.public-list-button {
  border-style: none;
  background-color: #ffffff;
}
.public-title {
  opacity: 0.7;
}
.public-select {
  border-style: none;

  width: 230px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 1em 1em 1.5em;
  gap: 1.5em;

  width: 23.4375em;
  height: 1.875em;

  /* Brand Web/LBC Gold */

  background: #fdb812;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
